@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #000000;
  color: white;
  user-select: none;
  overscroll-behavior: none;
}

* {
  font-family: "Poppins", "sans-serif";
}

/* Hide scrollbar but allow scroll */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@keyframes scaleIn {
  from {
    transform: scale(0.9);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}

.scale-in {
  animation: scaleIn 0.2s ease;
}

@keyframes slowZoom {
  from { transform: scale(1); }
  to { transform: scale(1.05); }
}

.animate-slowZoom {
  animation: slowZoom 20s linear infinite alternate;
}